body{
    margin: auto;
    background-color: black;
}

header{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: cornsilk;
}

section{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

fieldset{
    width: 30%;
    border-radius: 5px;
    font-size: larger;
    background-color: blueviolet;
    color: aliceblue;
}


.top{
    margin: 10px;
    color: aliceblue;


}

input{
    border-radius: 10px;
}

button{
    border-radius: 5px;
    margin-top: 10%;
}

label{
    color: aliceblue;
}


#resultado{
    color: aliceblue;
    margin-left: 10%;
}

table, th, td{
    margin-top: 5%;
    border: 1px solid white;
    border-collapse: collapse;
    border-radius: 5px;
    font-size: medium;
}

